$borderRadius: 12px;             /* border radius of layout element e.g. card, sidebar */ 
$transitionDuration: 0.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */ 
$maskbg: rgba(0, 0, 0, 0.4);   /* in mobile mode when sidebar is open maskbg color apply for background */
$cardBorderRadius: 8px;
$backgroundColor1: #2a3d93;