@import "tailwindcss";

.image-upload-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .image-upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: white;
  }
  
  .file-name-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #555;
    background-color: #f9f9f9;
  }
  
  .upload-button {
    background-color: #2d5be5 !important;
    color: white !important;
    border-radius: 5px;
    padding: 6px 12px !important;
    font-size: 14px;
    font-weight: bold;
  }